
body{
background-image: url(https://www.publicdomainpictures.net/pictures/210000/velka/blue-marble.jpg);
background-position: 0% 15%;

}

.buttons {
background-color: #00475B; /* blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7%;
  position: fixed;
}

.bubble {
background-color: #105B6D; /* blue */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1400%;
  position: fixed;
  top:7%;
  left: 28.65%;
}

.insertion {
background-color: #105B6D; /* blue */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1400%;
  position: fixed;
  top:7%;
  left: 38%
}

.play {
background-color: #105B6D; /* blue */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1400%;
  position: fixed;
  top:7%;
  left: 48%;
}

.quick {
background-color: #105B6D; /* blue */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1400%;
  position: fixed;
  top:7%;
  left: 54.3%;
}

.merge {
background-color: #105B6D; /* blue */
  border: none;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1400%;
  position: fixed;
  top:7%;
  left: 63.25%;
}






