
body{
    background-color: #9BD8E8
}

.hoofdstuk1 {
background-color: #00475B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top:50px;
  left: 25%;
}

.hoofdstuk2 {
background-color: #00475B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top:50px;
  left: 35%
}

.hoofdstuk3 {
background-color: #00475B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top:50px;
  left: 45%;
}

.hoofdstuk4 {
background-color: #00475B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top:50px;
  left: 55%;
}

.hoofdstuk5 {
background-color: #00475B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  top:50px;
  left: 65%;
}











